In [11]:
import pandas as pd

# URL of the Excel file
url = 'https://archives.nseindia.com/content/nsccl/fao_participant_oi_06122023.csv'

# Read the Excel file into a pandas DataFrame
df = pd.read_csv(url, header=1)

# Display the first few rows of the DataFrame
df.head()

,Client Type,Future Index Long,Future Index Short,Future Stock Long,Future Stock Short\t,Option Index Call Long,Option Index Put Long,Option Index Call Short,Option Index Put Short,Option Stock Call Long,Option Stock Put Long,Option Stock Call Short,Option Stock Put Short,Total Long Contracts\t,Total Short Contracts
0,Client,162424,210767,1683872,240488,3942496,4229699,4069726,4408451,1061703,474336,688678,570809,11554529,10188918
1,DII,84033,48431,125641,2005424,0,74044,0,0,6,0,24761,0,283724,2078616
2,FII,130109,107155,1406392,1227342,986271,1224236,657756,860719,55957,57084,87751,57089,3860049,2997812
3,Pro,33432,43645,439189,181840,1322384,1352052,1523670,1610860,432021,465200,748497,368722,4044278,4477234
4,TOTAL,409998,409998,3655094,3655094,6251151,6880030,6251151,6880030,1549687,996620,1549687,996620,19742580,19742580

In [9]:
df.head()

,Client Type,Future Index Long,Future Index Short,Future Stock Long,Future Stock Short\t,Option Index Call Long,Option Index Put Long,Option Index Call Short,Option Index Put Short,Option Stock Call Long,Option Stock Put Long,Option Stock Call Short,Option Stock Put Short,Total Long Contracts\t,Total Short Contracts
0,Client,176209,224843,1728825,251041,3326337,3759411,3346951,3748397,1157528,501825,739546,613008,10650134,8923785
1,DII,78626,48431,122762,2024536,0,73757,0,0,6,0,28331,0,275151,2101298
2,FII,135508,103959,1384098,1236176,755722,979416,565591,801644,59767,63018,99996,63432,3377529,2870798
3,Pro,38826,51936,464829,188761,1286511,1326378,1456029,1588920,462253,502195,811681,390598,4080992,4487925
4,TOTAL,429169,429169,3700514,3700514,5368570,6138961,5368570,6138961,1679554,1067038,1679554,1067038,18383806,18383806

In [5]:
df.index

RangeIndex(start=1, stop=6, step=1)

In [12]:
import pandas as pd
from datetime import datetime, timedelta

# Function to generate URL for a given date
def create_url_for_date(date: datetime) -> str:
    base_url = 'https://archives.nseindia.com/content/nsccl/fao_participant_oi_'
    date_str = date.strftime('%d%m%Y')  # Format the date as DDMMYYYY
    return f"{base_url}{date_str}.csv"

In [13]:
yesterday = datetime.now() - timedelta(3)

In [14]:
create_url_for_date(yesterday)

'https://archives.nseindia.com/content/nsccl/fao_participant_oi_08122023.csv'